.fancy-image-box {
  margin: 5px 10px;
  padding: 0px;
  border-radius: 15px;
}

.fancy-image-box img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.fancy-image-box .caption {
  color: grey;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0px;
  padding: 7px;
  border-radius: 0px 0px 10px 10px
}